.fi-pencil{
    margin-right: 15px;
    font-size: 25px;
    color: darkgreen;
}

.fi-trash{
    font-size: 25px;
    color: darkred;
}

tbody > tr > td{
    text-align: center;
}

thead > tr > th{
    text-align: center;
}

table{
    border-radius: 10px;
    overflow: hidden;
}

thead{
    background-color: transparent;
    color: bisque;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td{
    background-color: rgb(30, 30, 30);
    color: bisque;
}

th, td {
    border: 1px solid gray;
    border-radius: 8px;
}