#program{
    min-height: 400px;
}

.success.button.expanded{
    background-color: darkgreen;
    color: beige;
}

.alert.button.expanded{
    background-color: darkred;
    color: beige;
}

body{
    background-color: royalblue;
}

#example-menu{
    background-color: royalblue;
}

.top-bar ul{
    background-color: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-bar a{
    color: antiquewhite;
    font-size: 25px;
}