thead > tr > th{
    text-align: center;
}

.fi-pencil{
    margin-right: 15px;
    font-size: 20px;
    color: darkgreen;
}

.fi-trash{
    font-size: 20px;
    color: darkred;
}

thead{
    background-color: transparent;
    color: bisque;
}

td{
    background-color: transparent;
    background-image: url(../img/back.jpg);
    background-size: 200%;
    color: bisque;
}

