.button.expanded{
    background-color: darkgreen;
}

.fi-pencil{
    font-size: 20px;
    color: darkgreen;
}

thead > tr > th{
    text-align: center;
}

thead{
    background-color: transparent;
    color: bisque;
}

td{
    background-color: transparent;
    background-image: url(../img/back.jpg);
    background-size: 200%;
    color: bisque;
}

tbody > tr > td:nth-child(4){
    text-align: center;
}