.button.expanded{
    background-color: darkgreen;
}

.fi-pencil{
    margin-left: 15px;
    font-size: 20px;
    color: darkgreen;
}

thead > tr > th{
    text-align: center;
}

thead{
    background-color: lightblue;
}

td{
    background-color: lightblue;
}