thead > tr > th{
    text-align: center;
}

tbody > tr > td:nth-child(5){
    text-align: center;
}

.fi-pencil{
    margin-left: 90px;
    font-size: 25px;
    color: darkgreen;
}

.fi-trash{
    margin-left: 15px;
    font-size: 25px;
    color: darkred;
}

.callout{
    background-image: url(../img/back.jpg);
    border-radius: 25px;
    border: transparent;
}

#img{
    position: relative;
    left: 32px;
}