thead > tr > th{
    text-align: center;
}

tbody > tr > td:nth-child(3){
    text-align: right;
}

.fi-checkbox{
    font-size: 30px;
    color: darkgreen;
    margin-left: 30px;
}

.fi-minus{
    font-size: 25px;
    color: darkred;
    margin-left: 30px;
}

