.fi-pencil{
    margin-left: 90px;
    font-size: 25px;
    color: darkgreen;
}

.fi-trash{
    margin-left: 15px;
    font-size: 25px;
    color: darkred;
}

.callout{
    background-image: url(../../../img/back.jpg);
    border-radius: 25px;
    border: transparent;
}

#img{
    position: relative;
    left: 32px;
}

.ui-autocomplete{
    border-radius: 15px;
    background-color: lightgray;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    color: bisque;
    background-color: black;
    border-radius: 15px;
    border-color: transparent;
}